[submodule "src/3rdparty/cmake_modules"]
	path = src/3rdparty/cmake_modules
	url = git@github.com:sashatref/cmake_modules.git
[submodule "src/3rdparty/CustomStylePlugin"]
	path = src/3rdparty/CustomStylePlugin
	url = git@github.com:sashatref/CustomStylePlugin.git
[submodule "src/3rdparty/HelperLibrary"]
	path = src/3rdparty/HelperLibrary
	url = git@github.com:sashatref/HelperLibrary.git
[submodule "src/3rdparty/PropertyBrowser3"]
	path = src/3rdparty/PropertyBrowser3
	url = git@github.com:sashatref/PropertyBrowser3.git
[submodule "src/3rdparty/CustomWidgets"]
	path = src/3rdparty/CustomWidgets
	url = git@github.com:sashatref/CustomWidgets.git
